/* Colors */

$darker: #333336;
$dark: #555558;

$darkerGray: #777790;
$darkGray: #9999aa;
$gray: #aaaaad;
$lightGray: #cccccf;

$light: #dddddf;
$lighter: #f0f0f2;
$lightest: #f9f9f9;

$white: #fff;

$darkRed: #bf372f;
$red: #ef675f;
$hoverRed: #f0776f;
$activeRed: #f3877f;
$lightRed: #ffb7af;

$darkBlue: #444fcc;
$blue: #747ffc;
$hoverBlue: #878afc;
$activeBlue: #9a96fd;
$lightBlue: #c4cffe;

$darkGreen: #0f7c24;
$green: #4fcc84;
$hoverGreen: #5fd087;
$activeGreen: #6fe090;
$lightGreen: #affdd4;

$darkYellow: #d0d049;
$yellow: #f0e079;
$hoverYellow: #fff39b;
$activeYellow: #fff69e;
$lightYellow: #fffcc9;

$darkOrange: #cc8317;
$orange: #ffb347;
$hoverOrange: #ffba4a;
$activeOrange: #ffc050;
$lightOrange: #ffe070;

$darkPurple: #883fac;
$purple: #a44fec;
$hoverPurple: #b05ff0;
$activePurple: #b46afa;
$lightPurple: #e4aaff;
